.netflix-bg {
  background-color: #141414;
}
.min-width {
  min-width: 12rem;
}
.max-width-16 {
  max-width: 16rem;
  min-width: 16rem;
}

.fs-7 {
  font-size: 0.6rem;
}
.fs-8 {
  font-size: 0.8rem;
}

.mt-footer {
  max-width: 50%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.text-footer {
  color: #5b6369;
}
.footer {
  width: 100%;
}

.edit-profile {
  max-width: 550px;
  min-width: 550px;
}
.edit-profile-400 {
  max-width: 400px;
  min-width: 400px;
}

input[type="text"] {
  border: none;
  background-color: #5b6369 !important;
  color: white !important;
  padding: 5px;
}

input:focus {
  border: none;
  outline: none;
  background-color: red;
}

input::placeholder {
  color: white !important;
}

.bg-maturity-rating {
  background-color: #333333;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  border: 1px solid #666666;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #141414;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #363434;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #141414;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #98a1a6;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
